@tailwind base;
@tailwind components;
@tailwind utilities;

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;;
} /* Track */
::-webkit-scrollbar-track {
  background: #c6c6c6;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: #8a2525;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747474;
}